<%= render 'longer_featured' %>

<div class="row mb-2">
  <%= render 'medium_featured' %>
  <%= render 'medium_featured' %>
</div>

<div class="row g-5">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      From the Firehose
    </h3>

    <p>
      <%= link_to 'Novo Article', new_article_path, class: 'btn btn-primary' %>
    </p>
    
    <%= render @articles %>

    <%= render 'pagination' %>
  </div>
  <%= render 'right_side' %>
</div>



<!--<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
  Tooltip on top
</button>
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on right">
  Tooltip on right
</button>
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">
  Tooltip on bottom
</button>
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Tooltip on left">
  Tooltip on left
</button>-->